# ignore all files under specific directory
paper/
.ipynb_checkpoints/
__pycache__/
datasets/
temporary/
coding/



# ignore .pdf file under 'paper' directory
# Note that paper/paper1.pdf is ignored but paper/subdirectory/paper1.pdf is not ignored.
paper/*.pdf


# ignore all .pdf file under 'paper' directory
paper/**/*.pdf




